<html>
    <form action="fileupload" method="post" enctype="multipart/form-data">
        Title: <input type="text" name="title" minlength=1><br>
        Description: <input type="text" name="description" minlength=1><br>
        <input type="file" name="filetoupload"><br>
        <input type="submit" value="Upload">
    </form>
</html>
